//- Newsletter
div(class="newsletter")
    div(class="container")
        div(class="newsletter__wrap")
            div(class="newsletter__left")
                div(class="newsletter__title") Bản tin
                div(class="newsletter__description") Đăng ký để nhận thông tin về sản phẩm và phiếu giảm giá
            div(class="newsletter__form")
                input(type="email" name="" placeholder="Nhập email...")
                button(class="button button-newsletter" type="submit") Đăng ký
//- End Newsletter

//- Footer
div(class="footer")
    div(class="container")
        div(class="footer__top")
            div(class="footer__info")
                ul
                    li(class="footer__title") Thông tin liên hệ
                    li(class="footer__text") Gọi hỗ trợ 24/7
                    li(class="footer__text--phone") (+84) #{settingGeneral.phone}
                    li(class="footer__text") #{settingGeneral.address}
                    li(class="footer__text--email") #{settingGeneral.email}
                    li(class="footer__socials")
                        a(href=`${settingGeneral.facebook}`)
                            i(class="fa-brands fa-facebook")
                        a(href=`${settingGeneral.twitter}`)
                            i(class="fa-brands fa-x-twitter")
                        a(href=`${settingGeneral.google}`)
                            i(class="fa-brands fa-google-plus-g")
                        a(href=`${settingGeneral.youtube}`)
                            i(class="fa-brands fa-youtube")
                        a(href=`${settingGeneral.instagram}`)
                            i(class="fa-brands fa-instagram")
            div(class="footer__item")
                ul
                    li(class="footer__title") Chính sách
                    li(class="footer__text")
                        a(class="" href="/policy") Policy
                    li(class="footer__text")
                        a(class="" href="/faqs") FAQs
                    li(class="footer__text")
                        a(class="" href="/term-conditions") Term & Conditions
            div(class="footer__item")
                ul
                    li(class="footer__title") Danh mục
                    li(class="footer__text")
                        a(class="" href="/") Trang chủ
                    li(class="footer__text")
                        a(class="" href="/products") Sản phẩm
                    li(class="footer__text")
                        a(class="" href="/blog") Tin tức
                    li(class="footer__text")
                        a(class="" href="/contact") Liên hệ
            div(class="footer__item")
                ul
                    li(class="footer__title") Liên kết
                    li(class="footer__text")
                        a(class="" href="/policy") Policy
                    li(class="footer__text")
                        a(class="" href="/term-conditions") Term & Conditions
                    li(class="footer__text")
                        a(class="" href="/faqs") FAQs
                    li(class="footer__text")
                        a(class="" href="/order-tracking") Order Tracking
        div(class="footer__center")
        div(class="footer__bottom")
//- End Footer