extends ../../layouts/default.pug
block main
    if(role.permissions.includes("blogs-category_view"))
        div(class="block-main")
            h1 #{pageTitle}
            .card.mb-3
                .card-header Danh sách 
                .card-body
                    .row 
                        .col-8
                        .col-4.text-right
                            if(role.permissions.includes("blogs-category_create"))
                                a(
                                    href=`/${prefixAdmin}/blogs-category/create`
                                    class="btn btn-outline-success"
                                ) + Thêm mới
                    table(
                        class="table table-hover table-sm"
                    )
                        thead
                            tr
                                th STT
                                th Hình ảnh
                                th Tiêu đề
                                th Vị trí
                                th Trạng thái
                                th Tạo bởi
                                th Cập nhật bởi
                                th Hành động
                        tbody
                            each item, index in listCategory
                                tr
                                    td #{index + 1}
                                    td
                                        img(
                                            src=item.thumbnail
                                            alt=item.title
                                            width="100px"
                                            height="auto"
                                        )
                                    td #{item.title}
                                    td
                                        if(role.permissions.includes("blogs-category_edit"))
                                            input(
                                                type="number"
                                                value=item.position
                                                item-id=item.id
                                                data-path=`/${prefixAdmin}/blogs-category/change-position`
                                                input-position
                                                style="width: 60px"
                                                min="1"
                                                name="position"
                                            )
                                        else
                                            span(class="ml-2") #{item.position}
                                    td
                                        if(role.permissions.includes("blogs-category_edit"))
                                            if (item.status === "active")
                                                a(
                                                    href="javascript:;"
                                                    class="badge badge-success"
                                                    item-id=item.id
                                                    data-path=`/${prefixAdmin}/blogs-category/change-status`
                                                    button-change-status="inactive"
                                                ) Hoạt động
                                            else
                                                a(
                                                    href="javascript:;"
                                                    class="badge badge-danger"
                                                    item-id=item.id
                                                    data-path=`/${prefixAdmin}/blogs-category/change-status`
                                                    button-change-status="active"
                                                ) Dừng hoạt động
                                        else
                                            if(item.status==="active")
                                                button(class="badge badge-success") Hoạt động
                                            else
                                                button(class="badge badge-danger") Dừng hoạt động
                                    td  
                                        div #{item.createdByFullName}
                                        div #{item.createdAtFormat}
                                    td
                                        div #{item.updatedByFullName}
                                        div #{item.updatedAtFormat}
                                    td
                                        a(
                                            class="btn btn-info btn-sm"
                                            href=`/${prefixAdmin}/blogs-category/detail/${item.id}`
                                        ) Chi tiết
                                        if(role.permissions.includes("blogs-category_edit"))
                                            a(
                                                class="btn btn-warning btn-sm ml-1"
                                                href=`/${prefixAdmin}/blogs-category/edit/${item.id}`
                                            ) Sửa
                                        if(role.permissions.includes("blogs-category_delete"))
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                                item-id=item.id
                                                button-delete-destroy
                                                data-path=`/${prefixAdmin}/blogs-category/delete-destroy`
                                            ) Xóa